.categoria-container {  /* responsável por determinar largura, espaçamento e margem do container */
  width: 100%;
  max-width: 1200px;
  padding: 5 10px;
  margin: 30px auto;
}

.categoria-container header{ /* definimos como os itens serão alocados no header */
  display: flex;
  align-items: center;
}

.categoria-container header img{ /* definimos a altura da imagem */
  height: 50px;
}

.categoria-container header button{ /* estamos dando estilos ao botão, colocamos uma altura, largura, cor, e espaçamento de margem, além da cor de fundo */
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #DCDCE6;
  background: green;
  margin-left: 16px;
  transition: border-color 0.5s;
}

.categoria-container header button:hover { /* efeito quando o mouse passa por cima do botão, ele muda a cor dar borda */
  border-color: #510bac;
}

table, th, td { /* definimos estilos para os elementos table, th e td */
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  text-align: left;
}

