.categoria-container{
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;
    margin: 20px auto;
}

.categoria-container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria-container header .button{
    margin-right: 50%;
}

.categoria-container header img {
    height: 50px;
}

.categoria-container header a{
    width: 250px;
    margin-top: 0;
}

.categoria-container header button{
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.5s;
    margin-left: 76%;
}

.categoria-container h1{
    margin-top: 20px;
    margin-bottom: 24px;
}

/* .categoria-container ul{  ~PARA MOSTRAR O REGISTRO EM LINHA [HORIZONTAL]~
    display: grid;
    padding: 0 25px;
    grid-template-columns: repeat(2. 1fr);
    grid-gap: 35px;
    list-style: none;
} */

.categoria-container ul { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

/* .categoria-container ul li{  ~ESTILO ONDE FICARA OS REGISTROS~
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
} */

.categoria-container ul li {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;    
}

/* .categoria-container ul li button{ ~POSICIONAMENTO DOS BOTÕES~
    position: absolute;
    right: 25px;
    top: 5px;
    border: 0;
    background: transparent;
} */

.categoria-container ul li button{
    padding: 6px;
    border: 0;
    background: transparent;
}

/* .categoria-container ul li button + button{ ~HABILITAR CASO ESCOLHA OS REGISTROS EM LINHA~
    top: 35px;
} */

.categoria-container ul li button:hover{
    opacity: 0.4;
}